@media (max-width: 576px) { 
    .header-content {
        display: inline !important;
    }
    .header-tile {
        display: none !important;
    }
}

@media (min-width: 577px) { 

}

/* General */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.nav-link-right {
    margin-right: 0px;
}



.header-section-right {}

.header-section-left {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 50px;
    z-index: 3;
}

.header-section-left button {
    display: inline-block !important;
    height: 46px;
    align-content: 46px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-section-left .contact-btn {
    background: #A7001E;
    border: 2px solid #A7001E;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    margin-right: 15px;
}

.header-section-left .track-btn {
    border: 2px solid #A7001E;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    color: #A7001E;
}

.header-right-img {

}

.contact-btn h6 {
    margin-top: auto;
    margin-bottom: auto;
}

.track-btn h6 {
    margin-top: auto;
    margin-bottom: auto;
}

.header-tile {

}

.header-content {
    display: none;
}

.header-content h1, h5{
    padding-bottom: 15px;
}

.header-tile svg {
    width: 100% !important;
    height: auto !important;
}

.clickable-contact-btn {
    cursor: pointer;
}

.header-section-right {
    max-width: 50%;
    z-index: 1;
}

.slideshow {
    display:block;
    width: 145%;
    margin-left: 50%;
    transform: translateX(-50%);
}


.header-row {
    overflow: hidden;
}