@media (max-width: 576px) {
    .header-content {
        display: inline !important;
    }

    .header-tile {
        display: none !important;
    }
}

@media (min-width: 577px) {}

/* Medium devices (tablets, 768px and up) -- Switches over to one column */
@media (max-width: 768px) {
    .benefits-map {
        width: 50%;
        background-size: contain !important;
        min-height: 275px;
        margin-left: auto;
        margin-right: auto;
    }

    .benefits-row .col-md-5,
    .col-md-7 {
        height: auto !important;
    }
}

@media (max-width: 992px) {

    #expedited-ground:before,
    #trucking:before,
    #domestic-air-freight:before,
    #customized-services:before {
        width: 6.9em !important;
        height: 6.9em !important;
    }

    .header-tile {
        width: 130% !important;
    }

}

/* General */
.body-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

body {}

.services-row .col-md-6 {
    padding-left: 1.46%;
    padding-right: 1.46%;
}

.services-row .col-md-6 .card {}

.navbar {
    margin-bottom: 20px;
    padding-left: 2.917%;
    padding-right: 2.917%;
}

.nav-link {
    font-size: 17px;
    margin-right: 25px;
}

.nav-link-right {
    margin-right: 0px;
    padding-right: 0px !important;
}

.call-us {
    width: inherit;
}

.nav-item-right::after {
    position: absolute;
    right: 3.967%;
    top: 5.5em;
    content: '855-WOLF-PAK (965-3725)';
    z-index: 2;
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #A7001E;

}

.header-section-right {}

.header-section-left {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 4.6%;
    z-index: 3;
}

.header-section-left button {
    display: inline-block !important;
    height: 46px;
    align-content: 46px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-section-left .contact-btn {
    background: #A7001E;
    border: 2px solid #A7001E;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    margin-right: 15px;
}

.header-section-left .track-btn {
    border: 2px solid #A7001E;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    color: #A7001E;
}

.header-right-img {}

.contact-btn h5 {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0px;
}

.track-btn h5 {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0px;

}

.header-tile {}

.header-content {
    display: none;
}

.header-content h1,
h5 {
    padding-bottom: 15px;
}

.header-tile svg {
    width: 100%;
    height: auto;

}

.clickable-contact-btn {
    cursor: pointer;
}

.header-section-right {
    max-width: 50%;
    z-index: 1;
}

.slideshow {
    display: relative;
    vertical-align: middle;
    max-height: 385px;
    overflow-y: hidden;
    margin-left: -125px;
    position: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);

}

.header-row {
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
}

.contact-link:hover {
    opacity: .5;
}

#expedited-ground:before {
    position: absolute;
    left: 0;
    top: 0em;
    width: 8em;
    height: 8em;
    content: '';
    background-image: url("../images/service icons/image 2.png");
    z-index: 2;
    background-size: 115% !important;
    background-position: center center !important;
    background-size: cover;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: -5%;
}

#trucking:before {
    position: absolute;
    left: 0;
    top: 0em;
    width: 8em;
    height: 8em;
    content: '';
    background-image: url("../images/service icons/image 3-1.png");
    z-index: 2;
    background-size: 115%;
    background-position: center center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: -5%;
}

#domestic-air-freight:before {
    position: absolute;
    left: 0;
    top: 0em;
    width: 8em;
    height: 8em;
    content: '';
    background-image: url("../images/service icons/image 3.png");
    z-index: 2;
    background-size: 115% !important;
    background-position: center center !important;
    background-size: cover;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: -5%;
}

#customized-services:before {
    position: absolute;
    left: 0;
    top: 0em;
    width: 8em;
    height: 8em;
    content: '';
    background-image: url("../images/service icons/image 2.1.png");
    z-index: 2;
    background-size: 115% !important;
    background-position: center center !important;
    background-size: cover;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: -5%;
}

.card-body {
    width: 70%;
    margin-left: 30%;
}

.services-row {
    background: #F6F6F6;
    padding-left: 7.083%;
    padding-right: 7.083%;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.services-row .col-md-6 .card {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50px 5px 5px 5px;
    width: 95%;
}

.card-title {
    font-family: Lustria;
    font-style: normal;
    font-weight: normal;
}

h4 {
    font-style: normal;
    font-weight: normal;
}

.services-row .col-md-6 {
    margin-top: 50px;
    margin-bottom: 25px;
}

.explore-text {
    margin-top: 75px;
}

.explore-text h4 {
    margin-bottom: 75px;
}

.benefits-row {
    padding-left: 7.11%;
    padding-right: 7.11%;
    margin-bottom: 75px;
}

.benefits-row .col-md-5,
.col-md-7 {
    height: 400px;
    vertical-align: middle;
}

.benefits-row .col-md-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.benefits-row .col-md-7 ul li {
    padding-bottom: 15px;
}

.benefits-row .col-md-7 ul {
    margin-bottom: 0px;
}

.benefits-header {
    margin-bottom: 25px;
}

.benefits-map {
    background: url("../images/benefits-map.svg");
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
}

.card-text {
    line-height: 216.15%;
}

.staples-row {
    padding-left: 7.11%;
    padding-right: 7.11%;
    padding-top: 75px;
    padding-bottom: 75px;
    background: #F6F6F6;
}